
<div class="card">
    <div class="head">
        <div>
            <h2></h2>
            <p>Projet</p>
        </div>
        <i class='bx bx-trending-down icon down' ></i>
    </div>
   
</div>
<div class="card">
    <div class="head">
        <div>
            <h2></h2>
            <p>Fichr</p>
        </div>
        <i class='bx bx-trending-up icon' ></i>
    </div>
    <span class="progress" data-value="30%"></span>
    <span class="label">30%</span>
</div>
<div class="card">
    <div class="head">
        <div>
            <h2>235</h2>
            <p>Etude Bugetaire</p>
        </div>
        <i class='bx bx-trending-up icon' ></i>
    </div>
    <span class="progress" data-value="80%"></span>
    <span class="label">80%</span>
</div>
