              <!--- Sidemenu -->
              <ul class="side-nav">

               <br>
               <br>

                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" class="side-nav-link">
                        <div *ngIf="admin">
                            <i class="pi pi-home titre" ></i>
                            <span routerLink="admin/view-list-utilisateurs"  class="titre">  Administration</span><br><br>
                           
                        </div>
                       <div>
                            <i class="pi pi-home titre" ></i>
                            <span routerLink="/statistique"  class="titre">  Dashboard </span><br><br>
                       </div>
                       
                       <div *ngIf="!admin">
                        <i class="pi pi-calendar  titre"></i>
                        <span routerLink="/calendrier/view-list" class="titre"> Calendrier</span><br><br>

                       </div>
                        
                        <span *ngIf="admin"  routerLink="/calendrier/view-list-region" class="titre"> Gestion de régions</span><br><br>
                        <span *ngIf="admin"  routerLink="/calendrier/view-list-type-projet"class="titre"> Gestion de nature projet</span><br><br>
                        <span *ngIf="admin"  routerLink="/calendrier/view-list-type-achat"class="titre"> Gestion de type d'achat</span><br><br>
                        <span *ngIf="admin"  routerLink="/calendrier/view-list-direction-achat"class="titre"> Gestion de direction d'achat</span><br><br>

                        <div *ngIf="!admin">
                            <i class="pi pi-folder-open titre"></i>
                            <span routerLink="/fichedeprojet/view-list" class="titre"> Fiche Technique</span><br><br>
    
                        </div>
                        <div *ngIf="!admin">
                            <i class="pi pi-credit-card titre"></i>
                            <span routerLink="/budget/view-list" class="titre">Etude de Budget</span><br><br>    
                        </div>
                        <div *ngIf="!admin">
                            <i class="pi pi-chart-bar titre"></i>
                            <span routerLink="/projetAccepte/all" class="titre"> Projet en cours </span><br>
                        </div>
                    </a>

                </li>

            </ul>


        <!-- Sidebar -left -->

