<!--<div class="tout">
    <div class="row ajout">
        <p>Ajout Direction d'Achat</p> 
    </div>
    <div class=" formulaire">
        
        <div class="row">
            <form>     
                
                    <div class="form-group col-12">
                        <span class="p-float-label">
                            
                           <input class="input" type="text" id="inputtext" pInputText  [(ngModel)]="newDirectionAchat. achatDirection"    name="natureProjet"> 
                           <label for="inputtext"  >Direction Achat</label>
                       </span>
                      </div>
                
                 <p-button class="boutton" label="Ajout" styleClass="p-button-secondary"  (onClick)="ajoutDirectionAchat()" ></p-button>
            </form>
        </div>
       
    </div>
</div>-->

<div class="tout">
    <div class="container">
        <div class="inscription">
            <h1  class="title">Ajout Nature Projet</h1> 
                <form> 
                    
                        <div class="form-group col-12">
                            <span class="p-float-label">
                                <input class="input" type="text" id="inputtext" pInputText  [(ngModel)]="newDirectionAchat. achatDirection"    name="natureProjet"> 
                                <label for="inputtext"  >Direction Achat</label>
                           </span>
                          </div>
                  
                    
                     <div class="button"> 
                        <input type="submit" value="ajouter" (click)="ajoutDirectionAchat()">
                    </div>  
                </form>
        </div>
    </div>
</div>

              








