<div class="tout">
    <div class="container">
        <div class="inscription">
            <h1  class="title">Ajout Region</h1> 
                <form> 
                    
                        <div class="form-group col-12">
                            <span class="p-float-label">
                               <input class="input" type="text" id="inputtext" pInputText  [(ngModel)]="newRegion. nomRegion"  name="nomregion"> 
                               <label for="inputtext"  >Nom region</label>
                           </span>
                          </div>
                    <!-- <p-button class="boutton" label="Ajout" styleClass="p-button-secondary"  (onClick)="ajoutRegion()" ></p-button>-->
                    
                     <div class="button"> 
                        <input type="submit" value="ajouter" (click)="ajoutRegion()">
    
                    </div>
                    
                       
                </form>
          
        </div>
            
           
        
    </div>

</div>



<!--
 <br>
 <br>
 <div class="row" >
     <p-tabView  >
         <p-tabPanel   header="Ajout Region"  >
            
 
         </p-tabPanel>
         -->
        
                      
 
 
 
 
 
