.bajout{
    margin-top:20px;
    background-color: rgb(16,21,94); 
    border-radius:6px;
    margin-left:2px;
    margin-right:-3px;
    height: 60px;
 }
 
 
 p{
     color:rgb(255,194,36);;
     font-size:20px;
     margin-top: 10px;
 }


 .bouton{
    /*margin-right:50px;*/
    margin-top:8px;
    margin-left: 50px;

 }