<!--<div class="tout">
    <div class="row ajout">
        <p>Ajout Type Achat</p> 
    </div>
    <div class=" formulaire">
        
        <div class="row">
            <form>     
                
                    <div class="form-group col-12">
                        <span class="p-float-label">
                            
                           <input class="input" type="text" id="inputtext" pInputText  [(ngModel)]="newTypeAchat.achatType"    name="natureProjet"> 
                           <label for="inputtext"  >Type Achat</label>
                       </span>
                      </div>
                
                 <p-button class="boutton" label="Ajout" styleClass="p-button-secondary"  (onClick)="ajoutTypeAchat()" ></p-button>
            </form>
        </div>
       
    </div>
</div> -->



<div class="tout">
    <div class="container">
        <div class="inscription">
            <h1  class="title">Ajout Type Achat</h1> 
                <form> 
                    
                        <div class="form-group col-12">
                            <span class="p-float-label">
                                <input class="input" type="text" id="inputtext" pInputText  [(ngModel)]="newTypeAchat.achatType"    name="natureProjet"> 
                           <label for="inputtext"  >Type Achat</label>
                           </span>
                          </div>
                    <!-- <p-button class="boutton" label="Ajout" styleClass="p-button-secondary"  (onClick)="ajoutRegion()" ></p-button>-->
                    
                     <div class="button"> 
                        <input type="submit" value="ajouter" (click)=" ajoutTypeAchat()">
    
                    </div>
                    
                       
                </form>
          
        </div>
            
           
        
    </div>

</div>
