<br>
<br>

    <div class="container">
    
            <div class="card">
                
                <h1  class="title">Projet</h1>
                <h2  class="chiffre" >{{allProjects}}</h2>  
    </div>

    <div class="card">
                
                <h1 class="title">Fiche Technique </h1>>
                <h2  class="chiffre" >{{fiches}}</h2>
    </div>
        
        


        <div class="card ">
                   
                    <h1 class="title">Etude Budgétaire</h1>
                    <h2  class="chiffre" >{{budgets}}</h2>
                    

        </div>


        <div class="card">
                   
                    <h1 class="title">Projet en cours</h1>
                    <h2  class="chiffre" >{{acceptedProject}}</h2>
        </div>
    
    
    
    
    
    
    </div>
    
    
    

