<div class="tout">
<div class="container">
    <div class="inscription">
        <h1  class="title"> Modifier Region</h1> 
        <form>     
                <div class="form-group col-12">
                    <span class="p-float-label">
                        <!--[(ngModel)]="newprojet.sujet"
                         [disabled]="!projet.form.valid"   (onClick)="ajout()"-->
                       <input class="input" type="text" id="inputtext" pInputText  [(ngModel)]="regionUpdate. nomRegion"  name="nomregion"> 
                       <label for="inputtext"   class="inputtext">Nom region</label>
                   </span>
                  </div>
            <!--
             <p-button class="boutton" label="Ajout" styleClass="p-button-secondary"  (onClick)="update()"></p-button>
        -->
        <div class="button"> 
            <input type="submit" value="ajouter" (click)="update()">

        </div>
        
            </form>

    </div>
</div>
    
    
       
</div>
 




<br>
<br>
<!--
<div class="row" >
    <p-tabView  >
        <p-tabPanel   header="Update Region"  >
           <form>
            
               <div class="row">
                   <div class="form-group col-12">
                       <span class="p-float-label">
                           [(ngModel)]="newprojet.sujet"
                            [disabled]="!projet.form.valid"   (onClick)="ajout()"
                          <input type="text" id="inputtext" pInputText  [(ngModel)]="regionUpdate.nomRegion"  name="nomregion"> 
                          <label for="inputtext"  >Nom region</label>
                      </span>
                     </div>
                </div>
 


               

           
          
               
                
                <p-button label="Update" styleClass="p-button-secondary"  (onClick)="update()" ></p-button>
           </form>

        </p-tabPanel>

        -->
       
                     






