.row{
    margin-top:30px;
  
}




label{
    color:black;
} 



.colorspan{
    color:black;
    font-style:normal;
    font-weight: 600;
    border-bottom: 0cqb;
}

.responsable{
    margin-right: 100px;
}

/*ajout projet*/
.titre{
    margin-top:20px;
    padding-top: 30px;
    margin-right:1px;
    margin-left:-1px;

    padding-bottom: 30px;
    background-color:rgb(16,21,94);
    font-size: 30px;

    color:rgb(255,194,36) ;
    border-radius: 5px;
}
.formulaire{
    margin-top:-1px;
    

}


