.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  
  
  .consulter{
    margin-top:20px;
    padding-top: 30px;
    margin-right:1px;
    margin-left:-1px;
  
    padding-bottom: 30px;
    background-color:rgb(41, 41, 106);
    font-size: 30px;
  
    color:aliceblue;
    border-radius: 5px;
  }
  .formulaire{
    margin-top:-1px;
  
  }


 



h2{
  border-bottom: 1px ridge #336699;
  border-top: 1px ridge #336699;
  text-align:center
}




label{
  color:black;
} 



.colorspan{
  color:black;
  font-style:normal;
  font-weight: 600;
  border-bottom: 0cqb;
}